appName: cake-store-service

server:
  port: "8000"
  log_level: 3

db:
  mysql:
    host: 127.0.0.1
    port: 3306
    dbname: articles
    user: root
    password: root
  redis:
    host: 127.0.0.1
    port: 6379
    user: alice
    password: alice
